/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.search {
  height: 250px;
  padding-left: 32%;
  padding-top: 3%;
}

.result {
  padding-left: 10%;
  height: 500px;
}

.minSection {
  height: 300px;
}

div {
  height: 150px;
}

img{
  display: block;
  width: 15%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.search h1 {
  font-size: 3em;
}

input {
  width: 35%;
  height: 25%;
  font-size: 2em;
  border-radius: 20px;
}

button {
  height: 25%;
  width: 15%;
  font-size: 2em;
  border-radius: 20px;
}

div {
  float: left;
  width: 55.55%;
}